<h1 mat-dialog-title><i class="fas fa-user-md" color="primary" ></i> Registrar médico</h1>
<div mat-dialog-content class="modal-container">
  <!-- ******* DATOS GENERALES ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Datos generales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="data.medico.nombre"  cdkFocusInitial>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>Apellido paterno</mat-label>
          <input matInput [(ngModel)]="data.medico.ap_paterno">
        </mat-form-field>            
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>Apellido materno</mat-label>
          <input matInput [(ngModel)]="data.medico.ap_materno">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="fecha_nac" [value]="data.medico.ap_materno" disabled>
          <mat-datepicker-toggle matSuffix [for]="fecha_nac"></mat-datepicker-toggle>
          <mat-datepicker #fecha_nac disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <label class="row-item" >Sexo: </label>
        <mat-radio-group aria-label="Sexo">
          <mat-radio-button value="1" class="row-item">Masculino</mat-radio-button>
          <mat-radio-button value="2" class="row-item">Femenino</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>

      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* DOMICILIO ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Domicilio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Calle</mat-label>
          <input matInput [(ngModel)]="data.medico.calle">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. exterior</mat-label>
          <input matInput [(ngModel)]="data.medico.no_ext">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. interior</mat-label>
          <input matInput [(ngModel)]="data.medico.no_int">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Localidad</mat-label>
          <input matInput [(ngModel)]="data.medico.ciudad">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Colonia</mat-label>
          <input matInput [(ngModel)]="data.medico.colonia">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Estado</mat-label>
          <mat-select [(value)]="data.medico.estado" #entidad ng-change='getMunicipios(entidad.value)'>
            <mat-option *ngFor="let estado of Estados" [value]="estado.id_estado">
              {{estado.nombre_estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Municipio</mat-label>
          <mat-select [(value)]="data.medico.municipio">
            <mat-option *ngFor="let mun of municipios" [value]="mun.id_municipio">
              {{mun.nombre_municipio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* CONTACTO ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Contacto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 400px">
          <mat-label>Correo electrónico</mat-label>
          <input matInput [(ngModel)]="data.medico.email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Teléfono</mat-label>
          <input matInput [(ngModel)]="data.medico.tel_fijo">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Celular</mat-label>
          <input matInput [(ngModel)]="data.medico.tel_cel">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Teléfono adicional</mat-label>
          <input matInput [(ngModel)]="data.medico.tel_adicional">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* ESTUDIOS ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Estudios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 400px">
          <mat-label>Universidad</mat-label>
          <input matInput [(ngModel)]="data.medico.universidad">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Especialidad</mat-label>
          <mat-select [(value)]="data.medico.especialidad_1">
            <mat-option *ngFor="let esp of especialidades" [value]="esp.id_especialidad">
              {{esp.nombre_especialidad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Especialidad</mat-label>
          <mat-select [(value)]="data.medico.especialidad_2">
            <mat-option *ngFor="let esp of especialidades" [value]="esp.id_especialidad">
              {{esp.nombre_especialidad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>No. de cédula profesional</mat-label>
          <input matInput [(ngModel)]="data.medico.cedula_prof">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* INFORMACIÓN MÉDICA ******* -->
  <mat-card class="medic-card">
      <mat-card-header>
        <mat-card-subtitle>Información médica</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field appearance="outline" style="width: 150px">
            <mat-label>Grupo sanguineo</mat-label>
            <input matInput [(ngModel)]="data.medico.tipo_sangre">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Alergias</mat-label>
            <textarea matInput [(ngModel)]="data.medico.alergias"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Enfermedades crónicas</mat-label>
            <textarea matInput [(ngModel)]="data.medico.enfermedad_cronica"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Anotaciones</mat-label>
            <textarea matInput [(ngModel)]="data.medico.tel_anotacion"></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
  </mat-card>
  <!-- ******* REPORTES - DOCUMENTACIÓN ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Reportes - Documentación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
          <table style="width:100%">
              <tr>
                <th><mat-label>Receta médica:</mat-label></th>
                <td><input #receta type="file" accept='image/*' (change)="preview(receta.files, 1)" /></td>
                <td><img [src]="recetaURL" style="width: 200px" *ngIf="recetaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Solicitud de análisis clínicos:</mat-label></th>
                <td><input #analisis type="file" accept='image/*' (change)="preview(analisis.files, 2)" /></td>
                <td><img [src]="analisisURL" style="width: 200px" *ngIf="analisisURL"></td>
              </tr>
              <tr>
                <th><mat-label>Constancia:  </mat-label></th>
                <td><input #constancia type="file" accept='image/*' (change)="preview(constancia.files, 3)" /></td>
                <td><img [src]="constanciaURL" style="width: 200px" *ngIf="constanciaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Certificado médico:  </mat-label></th>
                <td><input #certif type="file" accept='image/*' (change)="preview(certif.files, 4)" /></td>
                <td><img [src]="certifURL" style="width: 200px" *ngIf="certifURL"></td>
              </tr>
              <tr>
                <th><mat-label>Factura:  </mat-label></th>
                <td><input #factura type="file" accept='image/*' (change)="preview(factura.files, 5)" /></td>
                <td><img [src]="facturaURL" style="width: 200px" *ngIf="facturaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Sello:  </mat-label></th>
                <td><input #sello type="file" accept='image/*' (change)="preview(sello.files, 6)" /></td>
                <td><img [src]="selloURL" style="width: 200px" *ngIf="selloURL"></td>
              </tr>
            </table>
            <span style="color:rgb(194, 34, 82);" *ngIf="message">{{message}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions class="modal-actions" align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.medico" color="primary" >Aceptar</button>
</div>
