<div class="container">
  <div class="row">
    <div class="title-row">
      <h2>Citas </h2>
      <mat-form-field class="combo" appearance=" ">
        <span matPrefix class="nav-icon fas fa-user-md combo-icon"></span>
        <mat-select [(value)]="medico.id_medico" #medico (selectionChange)='getMedicoCitas(medico.id_medico)' placeholder="-- Seleccione médico --">
          <mat-option *ngFor="let medico of Medicos" [value]="medico.id_medico">
            {{medico.nombre}} {{medico.ap_paterno}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="combo" appearance=" ">
          <span matPrefix class="nav-icon far fa-calendar combo-icon"></span>
          <mat-select [(value)]="dia" (selectionChange)='getCitasDia(dia)' style="padding-bottom: 10px">
            <mat-option value = "1">Hoy</mat-option>
            <mat-option value = "2">Mañana</mat-option>
            <mat-option value = "3">Otra fecha</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf = "dia === '3'" class="combo" appearance=" " style="width: 150px" >
          <input matInput [matDatepicker]="fecha_nac" [(ngModel)]="medico.fecha_nac" disabled required name="nac" placeholder="Fecha" style="margin-bottom: 4px;">
          <mat-datepicker-toggle matSuffix [for]="fecha_nac"></mat-datepicker-toggle>
          <mat-datepicker #fecha_nac disabled="false"></mat-datepicker>
        </mat-form-field>
          
      <button mat-flat-button class="btn-add" (click)="openAddDialog(0)"><i class=" fas fa-plus"></i> nueva cita</button>
    </div>
  </div>
  <div align = "right">
    <mat-button-toggle-group  #view="matButtonToggleGroup" value="card">
      <mat-button-toggle value="card" aria-label="Text align left" >
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Text align center">
        <mat-icon>reorder</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div *ngIf="view.value === 'card'">
    <mat-card  *ngFor="let cita of citas" class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="header-image" style="height: 56px; width: 56px;"></div>
        <mat-card-title class="card-name" style="margin-bottom: 5px;">{{cita.nombre_pac}} {{cita.apellido_pac}} </mat-card-title>
        <mat-card-subtitle class="card-type">Consulta</mat-card-subtitle>
        <mat-card-subtitle *ngIf="cita.status === '1'" class="card-type he"><mat-icon color="primary" class="check">check_circle</mat-icon><i class="material-icons-outlined cancel">cancel</i></mat-card-subtitle>
        <mat-card-subtitle *ngIf="cita.status === '2'" class="card-type he"><mat-icon class="check">check_circle_outline</mat-icon><mat-icon class="cancel" color="warn">cancel</mat-icon></mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style=" margin-top: 10px; margin-bottom: 10px;">
        <table style="width:100%">
          <tr>
            <td class="time">11:30</td>
            <td class="date">{{cita.fecha}}</td> 
          </tr>
        </table>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions style="text-align: center;">
        <button mat-button color="primary">Ver detalles</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="view.value === 'list'" style="width: 100%">
    <table mat-table [dataSource]="citas" style="width: 100%; background: #f6f7fb;">
        <ng-container matColumnDef="time" >
          <th mat-header-cell *matHeaderCellDef style="width: 10%"> Hora </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px;" > {{element.fecha | date: 'H:mm' }}   <mat-divider></mat-divider></td>
        </ng-container>
    
        <ng-container matColumnDef="pacient" >
          <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Paciente </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; "> {{element.nombre_pac}} {{element.apellido_pac}} </td>
        </ng-container>

        <ng-container matColumnDef="consul" >
          <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Cita </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; "> {{element.tipo_cita}} </td>
        </ng-container>

        <ng-container matColumnDef="status" >
          <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Estado </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; "> 
            <mat-card-subtitle *ngIf="element.status === '1'" class="card-type he"><mat-icon color="primary" class="check">check_circle</mat-icon><i class="material-icons-outlined cancel">cancel</i></mat-card-subtitle>
            <mat-card-subtitle *ngIf="element.status === '2'" class="card-type he"><mat-icon class="check">check_circle_outline</mat-icon><mat-icon class="cancel" color="warn">cancel</mat-icon></mat-card-subtitle>
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef style="width: 10%"> Detalles </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; ">
            <button mat-icon-button color="primary" (click)="openAddDialog(element.id_cita)" matTooltip="Ver más detalles" matTooltipPosition="right" aria-label="Detalles cita">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

  




</div>