
  <mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" position="end">
        <mat-nav-list>
            <a mat-list-item (click)="prueba(medico.nombre,medico.ap_paterno,medico.id_medico)" *ngFor="let medico of Medicos">{{medico.nombre}} {{medico.ap_paterno}} </a>
         </mat-nav-list>
    </mat-sidenav>
    <div class="chat-title">
        <div>
            <i class="fas fa-user-circle toolbar-user-icon"></i><br>
        </div>
        <div>
            <p align='left' class="chat-destiny">{{mensaje.receptor}}</p>
        </div>
        
    </div>
    
    <div id="contenedor" class="contenedor" >
      <div id="chat"  class="chat">
        <div *ngFor='let chat of Chats'>
          <span style='font-size: 11pt;' > <strong>{{chat.emisor}}</strong> {{chat.mensaje}} </span><br>
        </div>
      </div>
    </div>
    <form class="message-input-box">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Escribe tu mensaje" [(ngModel)]="mensaje.mensaje" name="mensaje" ></textarea>
        </mat-form-field>
        <button class="btn-send" mat-fab color="accent" (click)="sendMessage()" ><mat-icon>send</mat-icon></button>
    </form>

</mat-sidenav-container>

