.mnj_envio{
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    left :0;
    margin-top: 10px;
    width:100%;
    font-size: 10pt;
}

.contenedor{
    height: 493px;
    overflow: auto;
}
.example-container {
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat{
    position: relative;
    border-radius: .4em;
    padding: 10px;
    
}
.matMsg{
    position: fixed;
    padding: 1em;
  }
  .div-back{
    z-index:1; 
  }
  .div-fix{
    margin-left: 85%;
    position: fixed;
    z-index:3; 
    margin-top: 35%;
  }
  
  .menuMensaje{
    height: 150px !important;
    width: 150px !important;
  }

  .message-input-box{
    padding: 5px;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    background-color: white;
    margin-top: auto;
    
  }

  .full-width{
    width: 70%;
  }

  .btn-send{
    margin-left: 20px;
  }

  .chat-title{
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    font-size: 15pt;
    padding: 20px;
    background-color: #cccccc;
    color: rgb(48, 48, 48);
  }

  .chat-destiny{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }