.btn-add{
    margin-top: 20px;
    margin-left: 20px;
    background: transparent;
    color: #1e88e5;
}

.subtitle{
    font-size: 9pt;
    color: #595e6f;
}

.title{
    font-weight: bold;
}

.modal-container {
    display: flex;
    flex-direction: column;
}
  
.modal-container > * {
    width: 100%;
}

.modal-actions {
    display: block;
    text-align: right;
}

.delete-data{
    margin-left: 20px;
}

.delete-esp{
    font-weight: bold;
}
