<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Información médica</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
    <!--Peso-->
    <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
        <mat-label>Peso/KG</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.peso" name="peso">
    </mat-form-field>
    <!--Altura-->
    <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
        <mat-label>Altura/Cm</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.altura" name="altura">
    </mat-form-field>
    <!--Presion-->
    <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
        <mat-label>Presión</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.presion" name="presion">
    </mat-form-field>
    <!--Azucar-->
    <mat-form-field appearance="outline" style="width: 100px" >
        <mat-label>Azucar</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.glucosa" name="glucosa">
    </mat-form-field>
    </div>

    <!--SINTOMAS-->
    <div> 
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-label>Sintomas</mat-label>
      <textarea matInput [(ngModel)]="sintomas" name="alergia"></textarea>
    </mat-form-field>
  </div>
  </mat-card-content>
</mat-card>

<mat-card class="medic-card" style="margin-top: 1rem">
    <mat-card-header>
      <mat-card-subtitle>Diagnostico</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    <!--Diagnostico-->
    <div> 
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Diagnostico</mat-label>
          <textarea matInput [(ngModel)]="consulta.diagnostico" name="alergia"></textarea>
        </mat-form-field>
    </div>
      
    </mat-card-content>
</mat-card> 

<!--Tratamiento-->
<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Tratamiento</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--medicamento-->
  <mat-form-field appearance="outline" style="width: 300px; margin-right: 1rem" >
      <mat-label>Medicamento</mat-label>
      <input matInput cdkFocusInitial [(ngModel)]="tratamiento.medicamento" name="medicamento">
  </mat-form-field>
  <!--cantidad-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
    <mat-label>Cantidad</mat-label>
    <input matInput  [(ngModel)]="tratamiento.docis" name="cantidad">
  </mat-form-field>
   <!--Frecuencia-->
   <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Frecuencia</mat-label>
      <input matInput [(ngModel)]="tratamiento.frecuencia" name="frecuencia">
  </mat-form-field>
  <!--Via de administración-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Via de Administración</mat-label>
      <input matInput [(ngModel)]="tratamiento.via" name="via">
  </mat-form-field>
  <!--Duración-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Duración</mat-label>
      <input matInput [(ngModel)]="tratamiento.duracion" name="duracion">
  </mat-form-field>
   <!--Boton de agrgado-->
  <div style="text-align: right;">
      <button mat-button color="primary" matTooltip="Agregar medicamento al tratamiento"   (click)="addTratamiento()">Agregar al Tratamiento</button>
  </div>
  </mat-card-content>
</mat-card>


<mat-card class="medic-card" style="margin-top: 1rem">
    <mat-card-header>
      <mat-card-subtitle>Tratamiento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="width: 100%"> 
        <table mat-table [dataSource]="dataSource" style="width: 100%; background: #f6f7fb;">

            <ng-container matColumnDef="medicamento">
              <th mat-header-cell *matHeaderCellDef style="width: 30%" > Medicamento </th>
              <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="docis">
              <th mat-header-cell *matHeaderCellDef style="width: 15%"> Docis </th>
              <td mat-cell *matCellDef="let element"> {{element.docis}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="via" style="width: 15%">
              <th mat-header-cell *matHeaderCellDef>Via de Administración </th>
              <td mat-cell *matCellDef="let element"> {{element.via}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="frecuencia" style="width: 15%">
              <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
              <td mat-cell *matCellDef="let element"> Cada: {{element.frecuencia}} </td>
            </ng-container>

            <!-- Duracion-->
            <ng-container matColumnDef="duracion" style="width: 15%">
                <th mat-header-cell *matHeaderCellDef> Duración</th>
                <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
            </ng-container>
            <!-- Opcion-->
            <ng-container matColumnDef="opcion">
                <th mat-header-cell *matHeaderCellDef style="width: 10%"> Opciones </th>
                <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; ">
                  <button mat-icon-button color="warn" (click)="openDropDialog(element)" matTooltip="Eliminar" matTooltipPosition="right" aria-label="Eliminar especialidad">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    </mat-card-content>
    </mat-card> 

  


<!--  ******* OPCIONES CANCELAR/GUARDAR ******-->
<mat-card class="medic-card">
  <mat-card-content>
    <div style="text-align: right;">
      <button type="button" mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button color="primary"  (click)="registrar()">Guardar</button>
    </div>
  </mat-card-content>
</mat-card>