<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Información Del Paciente</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div>
          <table class="egt">
              <tr style="margin-left: 3rem !important">
                <td>
                    <img src="../../../../assets/paciente.jpg" alt="" style="width: 100px; height: 100px;">
                </td>
                <td>
                  <mat-label  style="margin-left: 3rem !important">Nombre Completo: {{data_paciente.nombre}} {{data_paciente.ap_paterno}} {{data_paciente.ap_materno}}</mat-label>
                  <br> <mat-label  style="margin-left: 3rem !important">Enfermedades Cronicas: {{data_paciente.cronicas}} </mat-label>
                  <br><mat-label  style="margin-left: 3rem !important">Telefono: {{data_paciente.tel_cel}} </mat-label>
                </td>
              </tr>
          </table> 
        </div><br>
        <button mat-button (click)="openHistorial()" color="primary">Ver historial</button>
  </mat-card-content>
</mat-card>

<!--Historial Medcico-->
<div [hidden]="!most_historial">
<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Historial Médico</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
      <mat-card class="medic-card">
        <mat-card-header>
          <mat-card-subtitle>Antecedentes Familiares</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" style="width: 300px; margin-right: 1rem">
                <mat-label>Enferemdad</mat-label>
                <input matInput [(ngModel)]="enfermedad" name="enfermedad" required>
            </mat-form-field>
      
            <mat-form-field appearance="outline" style="width: 300px;" required>
                <mat-label>Parentesco</mat-label>
                <mat-select matInput [(ngModel)]="parentesco" name="parentesco" >
                  <mat-option value="Abuelo(a) Paterno" > Abuelo(a) Paterno</mat-option>
                  <mat-option value="Abuelo(a) Materno" > Abuelo(a) Materno</mat-option>
                  <mat-option value="Padre" > Padre</mat-option>
                  <mat-option value="Madre" > Madre</mat-option>
                  <mat-option value="Hermano(a)" >Hermano(a)</mat-option>
      
                </mat-select>
              </mat-form-field> 
        </mat-card-content>
        <button mat-flat-button class="btn-add" (click)="addAntecedente()"><i class=" fas fa-plus"></i> Agregar Antecedente</button>
      </mat-card>
      
    <mat-card class="medic-card" style="margin-top: 1rem">
        <mat-card-header>
          <mat-card-subtitle>Antecedentes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
          <div>
            <mat-form-field appearance="outline" style="width: 300px;margin-right: 1rem" >
                <mat-label>Antecedentes Traumátologicos</mat-label>
                <textarea matInput [(ngModel)]="historial.at" name="at" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 300px;margin-right: 1rem" >
              <mat-label>Antecedentes no Patológicos</mat-label>
              <textarea matInput [(ngModel)]="historial.anp" name="anp" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style=" width: 300px;margin-right: 1rem">
              <mat-label>Antecedentes Patológicos</mat-label>
              <textarea matInput [(ngModel)]="historial.ap" name="ap" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 300px;margin-right: 1rem">
              <mat-label>Antecedentes Prenatales</mat-label>
              <textarea matInput [(ngModel)]="historial.apre" name="apre" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style=" width: 300px;margin-right: 1rem">
              <mat-label>Antecedentes Neonatales</mat-label>
              <textarea matInput [(ngModel)]="historial.aneo" name="aneo" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style=" width: 300px;margin-right: 1rem">
                <mat-label>Problemas Neonatales</mat-label>
                <textarea matInput [(ngModel)]="historial.problemas_neo" name="problemas_neo" style="height: 100px;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style=" width: 300px;margin-right: 1rem">
                <mat-label>Historial de Alimentición</mat-label>
                <textarea matInput [(ngModel)]="historial.alimentacion" name="alimentacion" style="height: 100px;"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
    </mat-card>
   
  </mat-card-content>
</mat-card>
</div> 

<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Signos Vitales</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
       <!--Frecuencia Cardiaca-->
       <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
          <mat-label>FC</mat-label>
          <input matInput required cdkFocusInitial [(ngModel)]="consulta.FC" name="cardio">
      </mat-form-field>
       <!--Frecuencia Cardiaca-->
       <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
          <mat-label>FR</mat-label>
          <input matInput required cdkFocusInitial [(ngModel)]="consulta.FR" name="respiracion">
      </mat-form-field>
      <!--Presion-->
      <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
          <mat-label>Presión</mat-label>
          <input matInput required cdkFocusInitial [(ngModel)]="consulta.presion" name="presion">
      </mat-form-field>
      <!--Azucar-->
      <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
          <mat-label>Azucar</mat-label>
          <input matInput required cdkFocusInitial [(ngModel)]="consulta.glucosa" name="glucosa">
      </mat-form-field>
       <!--Temperatura-->
       <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
        <mat-label>Temperatura</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.temperatura" name="temperatura" >
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Exploración Física</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
    <!--Peso-->
    <mat-form-field appearance="outline" (change)="calcularIMC()" style="width: 100px; margin-right: 1rem" >
        <mat-label>Peso/KG</mat-label>
        <input matInput required cdkFocusInitial [(ngModel)]="consulta.peso" name="peso">
    </mat-form-field>
    <!--Altura-->
    <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
        <mat-label>Altura/Cm</mat-label>
        <input matInput required cdkFocusInitial (change)="calcularIMC()" [(ngModel)]="consulta.altura" name="altura">
    </mat-form-field>
    <!--Talla-->
    <mat-form-field appearance="outline" style="width: 100px; margin-right: 1rem" >
      <mat-label>Talla/Cm</mat-label>
      <input matInput required cdkFocusInitial [(ngModel)]="consulta.talla" name="talla">
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="medic-card" style="margin-top: 1rem">
    <mat-card-header>
      <mat-card-subtitle>Información de la Consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!--Motivo de la consulta-->
    <div> 
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Motivo de la Consulta</mat-label>
        <textarea matInput [(ngModel)]="consulta.motivo" name="motivos"></textarea>
      </mat-form-field>
    </div>
    <!--Resumen de interrogatorio-->
    <div> 
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Resumen de interrogatorio</mat-label>
        <textarea matInput [(ngModel)]="consulta.interrogatorio" name="inter"></textarea>
      </mat-form-field>
    </div>
    <!--Diagnostico-->
    <div> 
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Diagnostico</mat-label>
          <textarea matInput [(ngModel)]="consulta.diagnostico" name="diagnostico"></textarea>
        </mat-form-field>
    </div>

    <div>
      <!--Examenes Médicos-->
      <mat-form-field appearance="outline" style="width: 300px;" required>
        <mat-label>Examenes Médicos</mat-label>
        <mat-select matInput [(ngModel)]="examen" name="examen" >
          <mat-option value="sin Asiganar" > Sin Asignar</mat-option>
          <mat-option value="Sangre" > Analisis de sangre</mat-option>
          <mat-option value="Orina" > Analisis de Orina</mat-option>
          <mat-option value="Eses" > Analisis de Eses</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="text-align: right;">
      <button mat-button color="primary" matTooltip="Agregar Examen"   (click)="addExamen()">Agregar Examen</button>
  </div>
    </mat-card-content>
</mat-card> 

<!--Tratamiento-->
<mat-card class="medic-card" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-subtitle>Medicamento</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--medicamento-->
  <mat-form-field appearance="outline" style="width: 300px; margin-right: 1rem" >
      <mat-label>Medicamento</mat-label>
      <input matInput cdkFocusInitial [(ngModel)]="tratamiento.medicamento" name="medicamento">
  </mat-form-field>
  <!--cantidad-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
    <mat-label>Cantidad</mat-label>
    <input matInput  [(ngModel)]="tratamiento.docis" name="cantidad">
  </mat-form-field>
   <!--Frecuencia-->
   <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Frecuencia</mat-label>
      <input matInput [(ngModel)]="tratamiento.frecuencia" name="frecuencia">
  </mat-form-field>
  <!--Via de administración-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Via de Administración</mat-label>
      <input matInput [(ngModel)]="tratamiento.via" name="via">
  </mat-form-field>
  <!--Duración-->
  <mat-form-field appearance="outline" style="width: 200px; margin-right: 1rem" >
      <mat-label>Duración</mat-label>
      <input matInput [(ngModel)]="tratamiento.duracion" name="duracion">
  </mat-form-field>
   <!--Boton de agrgado-->
  <div style="text-align: right;">
      <button mat-button color="primary" matTooltip="Agregar medicamento al tratamiento"   (click)="addTratamiento()">Agregar al Tratamiento</button>
  </div>
  </mat-card-content>
</mat-card>


<mat-card class="medic-card" style="margin-top: 1rem">
    
        <!--Your html stuff that you want to print-->
    
  <mat-card-header>
    <mat-card-subtitle>Tratamiento</mat-card-subtitle>
    <div style="text-align: right;">
      <button printSectionId="tratamiento" [useExistingCss]="true" ngxPrint>Imprimir</button>
    </div>
  </mat-card-header>
    
  <mat-card-content>
    <div style="width: 100%"> 
      <table mat-table [dataSource]="dataSource" style="width: 100%; background: #f6f7fb;">
         
        <ng-container matColumnDef="medicamento">
          <th mat-header-cell *matHeaderCellDef style="width: 30%" > Medicamento </th>
          <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
        </ng-container>
          
        <!-- Name Column -->
        <ng-container matColumnDef="docis">
          <th mat-header-cell *matHeaderCellDef style="width: 15%"> Docis </th>
          <td mat-cell *matCellDef="let element"> {{element.docis}} </td>
        </ng-container>
          
        <!-- Weight Column -->
        <ng-container matColumnDef="via" style="width: 15%">
          <th mat-header-cell *matHeaderCellDef>Via de Administración </th>
          <td mat-cell *matCellDef="let element"> {{element.via}} </td>
        </ng-container>
          
        <!-- Symbol Column -->
        <ng-container matColumnDef="frecuencia" style="width: 15%">
          <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
          <td mat-cell *matCellDef="let element"> Cada: {{element.frecuencia}} </td>
        </ng-container>

        <!-- Duracion-->
        <ng-container matColumnDef="duracion" style="width: 15%">
          <th mat-header-cell *matHeaderCellDef> Duración</th>
          <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
        </ng-container>
        
        <!-- Opcion-->
        <ng-container matColumnDef="opcion">
          <th mat-header-cell *matHeaderCellDef style="width: 10%"> Opciones </th>
          <td mat-cell *matCellDef="let element" style="border-bottom-width: 0px; ">
            <button mat-icon-button color="warn" (click)="openDropDialog(element)" matTooltip="Eliminar" matTooltipPosition="right" aria-label="Eliminar especialidad">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
   
</mat-card> 

<!--  ******* OPCIONES CANCELAR/GUARDAR ******-->
<mat-card class="medic-card">
  <mat-card-content>
    <div style="text-align: right;">
      <button type="button" mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button color="primary"  (click)="registrar()">Guardar</button>
    </div>
  </mat-card-content>
</mat-card>



<!--  ******* Formate de impresion ******-->
<div id="tratamiento" hidden="true">
<mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <img src="../../../assets/MiClinica3.png"  style="height: 100px;" alt="">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
         <div style="text-align: start">
           <h3>doctor</h3>
           <p>cedula</p>
           <p>telefono</p>
         </div>
      </mat-grid-tile>
</mat-grid-list>  
<div style="margin-top: 60px" >
      <h3>Paciente</h3>
      <p>sexo </p>
      <p>edad</p>
</div>



<div style="width: 100%"> 
  <table mat-table [dataSource]="dataSource" style="width: 100%; background: #f6f7fb;">
     
    <ng-container matColumnDef="medicamento">
      <th mat-header-cell *matHeaderCellDef style="width: 30%" > Medicamento </th>
      <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
    </ng-container>
      
    <!-- Name Column -->
    <ng-container matColumnDef="docis">
      <th mat-header-cell *matHeaderCellDef style="width: 15%"> Docis </th>
      <td mat-cell *matCellDef="let element"> {{element.docis}} </td>
    </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="via" style="width: 15%">
      <th mat-header-cell *matHeaderCellDef>Via de Administración </th>
      <td mat-cell *matCellDef="let element"> {{element.via}} </td>
    </ng-container>
      
    <!-- Symbol Column -->
    <ng-container matColumnDef="frecuencia" style="width: 20%">
      <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
      <td mat-cell *matCellDef="let element"> Cada: {{element.frecuencia}} </td>
    </ng-container>

    <!-- Duracion-->
    <ng-container matColumnDef="duracion" style="width: 20%">
      <th mat-header-cell *matHeaderCellDef> Duración</th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
</div>



</div>