<script src= "http://localhost:3005/socket.io/socket.io.js" charset="utf-8" ></script>
<mat-toolbar class="toolbar bar">
        <img src="../../assets/MiClinica3.png" class="logo btn-toggle" (click)="snav.toggle()" alt="Mi Clínica">
        <span class="example-fill-remaining-space"></span>
        <div class="toolbar-notifications">
            <button mat-icon-button [matMenuTriggerFor]="notificationsMenu"><i class="fas fa-bell" matBadge="15" matBadgeColor="warn"></i></button>
            <mat-menu #notificationsMenu="matMenu" xPosition="before">
              <button mat-menu-item><i class="fas fa-circle status-light avaliable"></i>Disponible</button>
              <button mat-menu-item><i class="fas fa-circle status-light not-avaliable"></i>No disponible</button>
              <button mat-menu-item><i class="fas fa-circle status-light busy"></i>Ocupado</button>
              <mat-divider></mat-divider>
              <button mat-menu-item>Cerrar sesión</button>
            </mat-menu>
          </div>
        <div>
            <i class="fas fa-user-circle toolbar-user-icon"></i><br>
        </div>
        <div>
          <p class="toolbar-username">{{user.Username}}</p>
          <p class="toolbar-user-status"><i class="fas fa-circle status-light" [style.color]="getStatus()" ></i>{{user.Puesto}}</p>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><i class="fas fa-chevron-down"></i></button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item><i class="fas fa-circle status-light avaliable"></i>Disponible</button>
                <button mat-menu-item><i class="fas fa-circle status-light not-avaliable"></i>No disponible</button>
                <button mat-menu-item><i class="fas fa-circle status-light busy"></i>Ocupado</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click) = "logout()">Cerrar sesión</button>
            </mat-menu>
        </div>
      </mat-toolbar>
      
      
      <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="fixed blur" #snav [mode]="mobileQuery.matches ? 'side' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <div class="header-sidenav">
            <img src="../../assets/MiClinica3.png" class="logo img-sidenav" (click)="snav.toggle()" alt="Mi Clínica">
          </div>
          <nav mat-tab-nav-bar  class="full nav-menu">
            <table class="full table-menu">
              <tbody class="full">
                <tr *ngFor="let ruta of Rutas" class="full">
                  <div *ngIf ="ruta.permitido">
                  <a mat-tab-link class="menu-item nav-title"
                    [routerLink]="ruta.path"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive" ng-class="active : rla.isActive">
                    <th style="width: 50px">
                        <mat-icon *ngIf="ruta.material" class="menu-icon nav-icon">{{ruta.icon}} </mat-icon>
                        <i *ngIf="ruta.label === 'Médicos'" class="nav-icon fas fa-user-md image " ng-class="icon-active : rla.isActive"></i>
                        <i *ngIf="ruta.label === 'Consultorios'" class="nav-icon image fas fa-door-open" ng-class="icon-active : rla.isActive"></i>
                    </th>
                    <th>
                        {{ruta.label}}
                    </th>
                  </a>
                </div>
                </tr>
              </tbody>
            </table>
          </nav>
        </mat-sidenav>
    
        <mat-sidenav-content class="content-content">
          <div class="content">
            <router-outlet>
          </router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
      