<div class="row">
    <div class="title-row">
      <h2>{{funcion}}</h2>
    </div>
</div>
<form #medicoForm="ngForm"  (ngSubmit)="onSubmit()">
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Datos generales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 300px" >
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="medico.nombre"  required cdkFocusInitial [formControl]="nombre_fc"
          [errorStateMatcher]="matcher" name="nombre">
          <mat-error *ngIf="nombre_fc.hasError('required')">
              Este campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 250px" >
          <mat-label>Apellido paterno</mat-label>
          <input matInput [(ngModel)]="medico.ap_paterno" required [formControl]="apaterno_fc" name="apellidop"
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="apaterno_fc.hasError('required')">
              Este campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>            
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>Apellido materno</mat-label>
          <input matInput [(ngModel)]="medico.ap_materno" required [formControl]="amaterno_fc" name="apellidom"
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="amaterno_fc.hasError('required')">
              Este campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 250px" >
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="fecha_nac" [(ngModel)]="medico.fecha_nac" disabled required name="nac">
          <mat-datepicker-toggle matSuffix [for]="fecha_nac"></mat-datepicker-toggle>
          <mat-datepicker #fecha_nac disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <label class="row-item" >Sexo:</label>
        <mat-radio-group aria-label="Sexo" [(ngModel)]="medico.sexo" name="sexo" required>
          <mat-radio-button value="1" class="row-item" [checked]="medico.sexo === '1'" >Masculino</mat-radio-button>
          <mat-radio-button value="2" class="row-item"  >Femenino</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* DOMICILIO ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Domicilio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Calle</mat-label>
          <input matInput [(ngModel)]="medico.calle" name="calle">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. exterior</mat-label>
          <input matInput [(ngModel)]="medico.no_ext" [formControl]="noext_fc" name="ext"
          [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. interior</mat-label>
          <input matInput [(ngModel)]="medico.no_int" [formControl]="noint_fc" name="int"
          [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Localidad</mat-label>
          <input matInput [(ngModel)]="medico.ciudad" name="localidad">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Colonia</mat-label>
          <input matInput [(ngModel)]="medico.colonia" name="colonia">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Estado</mat-label>
          <mat-select  [(value)]="medico.estado_id" #entidad (selectionChange)='getMunicipios(entidad.value)'>
            <mat-option *ngFor="let estado of Estados" [value]="estado.id_estado">
              {{estado.nombre_estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Municipio</mat-label>
          <mat-select [(value)]="medico.municipio_id">
            <mat-option *ngFor="let mun of Municipios" [value]="mun.id_municipio">
              {{mun.nombre_municipio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <label [hidden]="!detalles" >Entidad Federetiva Actual: {{medico.nombre_municipio}}, {{medico.nombre_estado}} </label>
    </mat-card-content>
  </mat-card>
  <!-- ******* CONTACTO ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Contacto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 400px">
          <mat-label>Correo electrónico</mat-label>
          <input matInput [(ngModel)]="medico.email" required [formControl]="email" name="email"
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
            Ingrese una dirección de correo válida
          </mat-error>
        </mat-form-field>
      </div> 
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Teléfono</mat-label>
          <input matInput [(ngModel)]="medico.tel_fijo" required [formControl]="telefono_fc" name="telefono"
          [errorStateMatcher]="matcher">
          <mat-hint align="end" >{{medico.tel_fijo.length}} / 10</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Celular</mat-label>
          <input matInput [(ngModel)]="medico.tel_cel"  required [formControl]="celular_fc" name="celular"
          [errorStateMatcher]="matcher">
          <mat-hint align="end" >{{medico.tel_cel.length}} / 10</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Teléfono adicional</mat-label>
          <input matInput [(ngModel)]="medico.tel_adicional" [formControl]="adicional_fc" name="adicional"
          [errorStateMatcher]="matcher">
          <mat-hint align="end" >{{medico.tel_adicional.length}} / 10</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* ESTUDIOS ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Estudios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 400px">
          <mat-label>Universidad</mat-label>
          <input matInput [(ngModel)]="medico.universidad" name="universidad">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Especialidad</mat-label>
          <mat-select [(value)]="medico.especialidad_1" #esp1 (selectionChange)='getEspecialidadesDos(esp1.value)'>
            <mat-option *ngFor="let esp of Especialidades" [value]="esp.id_especialidad">
              {{esp.nombre_especialidad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Especialidad</mat-label>
          <mat-select [(value)]="medico.especialidad_2">
            <mat-option *ngFor="let esp of Especialidades2" [value]="esp.id_especialidad">
              {{esp.nombre_especialidad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>No. de cédula profesional</mat-label>
          <input matInput [(ngModel)]="medico.cedula_prof" maxlength="8" name="cedula">
          <mat-hint align="end" >{{medico.cedula_prof.length}} / 8</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ******* INFORMACIÓN MÉDICA ******* -->
  <mat-card class="medic-card">
      <mat-card-header>
        <mat-card-subtitle>Información médica</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field appearance="outline" style="width: 150px">
            <mat-label>Grupo sanguineo</mat-label>
            <input matInput [(ngModel)]="medico.tipo_sangre" name="sangre">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Alergias</mat-label>
            <textarea matInput [(ngModel)]="medico.alergias" name="alergia"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Enfermedades crónicas</mat-label>
            <textarea matInput [(ngModel)]="medico.enfermedad_cronica" name="cronica"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>Anotaciones</mat-label>
            <textarea matInput [(ngModel)]="medico.anotacion" name="anotacion"></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
  </mat-card>
  <!-- ******* REPORTES - DOCUMENTACIÓN ******* -->
  <mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Reportes - Documentación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
          <table style="width:100%">
              <tr>
                <th><mat-label>Receta médica:</mat-label></th>
                <td><input #receta type="file" accept='image/*' (change)="preview(receta.files, 1)" /></td>
                <td><img [src]="recetaURL" style="width: 200px" *ngIf="recetaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Solicitud de análisis clínicos:</mat-label></th>
                <td><input #analisis type="file" accept='image/*' (change)="preview(analisis.files, 2)" /></td>
                <td><img [src]="analisisURL" style="width: 200px" *ngIf="analisisURL"></td>
              </tr>
              <tr>
                <th><mat-label>Constancia:  </mat-label></th>
                <td><input #constancia type="file" accept='image/*' (change)="preview(constancia.files, 3)" /></td>
                <td><img [src]="constanciaURL" style="width: 200px" *ngIf="constanciaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Certificado médico:  </mat-label></th>
                <td><input #certif type="file" accept='image/*' (change)="preview(certif.files, 4)" /></td>
                <td><img [src]="certifURL" style="width: 200px" *ngIf="certifURL"></td>
              </tr>
              <tr>
                <th><mat-label>Factura:  </mat-label></th>
                <td><input #factura type="file" accept='image/*' (change)="preview(factura.files, 5)" /></td>
                <td><img [src]="facturaURL" style="width: 200px" *ngIf="facturaURL"></td>
              </tr>
              <tr>
                <th><mat-label>Sello:  </mat-label></th>
                <td><input #sello type="file" accept='image/*' (change)="preview(sello.files, 6)" /></td>
                <td><img [src]="selloURL" style="width: 200px" *ngIf="selloURL"></td>
              </tr>
            </table>
            <span style="color:rgb(194, 34, 82);" *ngIf="message">{{message}}</span>
      </div>
    </mat-card-content>
  </mat-card>
  <!--  ******* OPCIONES ******-->
  <mat-card class="medic-card">
      <mat-card-content>
        <div style="text-align: right;">
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button color="primary" [disabled]="!medicoForm.form.valid">Guardar</button>
            <mat-error *ngIf="!medicoForm.form.valid">
                Complete todos los campos requeridos
            </mat-error>
        </div>
      </mat-card-content>
    </mat-card>

</form>