/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

html, body {
    height: 94%;
}
body{
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    margin: 20px;
}


.title-row{
    display: -webkit-inline-box;
}
