<div class="row">
  <div class="title-row">
    <h2>{{funcion}}</h2>
  </div>
</div>
<form #pacienteForm="ngForm"  (ngSubmit)="onSubmit()">
<mat-card class="medic-card">
  <mat-card-header>
    <mat-card-subtitle>Datos generales</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline" style="width: 300px" >
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="paciente.nombre"  required cdkFocusInitial 
        [errorStateMatcher]="matcher" name="nombre"  pattern="[a-zA-Z ,.'-]{2,48}">
        <mat-error *ngIf="nombre_fc.hasError('required')">
            Este campo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 250px" >
        <mat-label>Apellido paterno</mat-label>
        <input matInput [(ngModel)]="paciente.ap_paterno" required name="a_paterno"
        [errorStateMatcher]="matcher" pattern="[a-zA-Z ,.'-]{2,48}">
        <mat-error *ngIf="apaterno_fc.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>            
      <mat-form-field appearance="outline" style="width: 250px">
        <mat-label>Apellido materno</mat-label>
        <input matInput [(ngModel)]="paciente.ap_materno" required  name="a_materno"
        [errorStateMatcher]="matcher" pattern="[a-zA-Z ,.'-]{2,48}">
        <mat-error *ngIf="amaterno_fc.hasError('required')">
          Este campo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 250px" >
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="fecha_nac" [(ngModel)]="paciente.fecha_nac" disabled required name="nac">
        <mat-datepicker-toggle matSuffix [for]="fecha_nac"></mat-datepicker-toggle>
        <mat-datepicker #fecha_nac disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <label class="row-item" >Sexo:</label>
      <mat-radio-group aria-label="Sexo" [(ngModel)]="paciente.sexo" name="sexo" required>
        <mat-radio-button value="1" class="row-item" [checked]="paciente.sexo === '1'"  >Masculino</mat-radio-button>
        <mat-radio-button value="2" class="row-item">Femenino</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>
</mat-card>
<!-- ******* DOMICILIO ******* -->
<mat-card class="medic-card">
  <mat-card-header>
    <mat-card-subtitle>Domicilio</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Calle</mat-label>
        <input matInput [(ngModel)]="paciente.calle" name="calle" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100px" >
        <mat-label>No. exterior</mat-label>
        <input matInput [(ngModel)]="paciente.no_ext" name="ext" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100px">
        <mat-label>No. interior</mat-label>
        <input matInput [(ngModel)]="paciente.no_int" name="int">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Localidad</mat-label>
        <input matInput [(ngModel)]="paciente.ciudad" name="ciudad" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Colonia</mat-label>
        <input matInput [(ngModel)]="paciente.colonia" name="colonia" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="paciente.id_estado" #entidad (selectionChange)='getMunicipios(entidad.value)'>
          <mat-option *ngFor="let estado of Estados" [value]="estado.id_estado">
            {{estado.nombre_estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Municipio</mat-label>
        <mat-select [(value)]="paciente.id_municipio">
          <mat-option *ngFor="let mun of Municipios" [value]="mun.id_municipio">
            {{mun.nombre_municipio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <label [hidden]="!detalles" >Entidad Federetiva Actual: {{paciente.nombre_municipio}}, {{paciente.nombre_estado}} </label>
  </mat-card-content>
</mat-card>
<!-- ******* CONTACTO ******* -->
<mat-card class="medic-card">
  <mat-card-header>
    <mat-card-subtitle>Contacto</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="paciente.email" name="email" required
        [errorStateMatcher]="matcher" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        <mat-error *ngIf="email.hasError('email') && email.hasError('required')">
          Ingrese una dirección de correo válida
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="paciente.tel_fijo" required name="telefono_fc"
        [errorStateMatcher]="matcher" minlength="10" maxlength="10" pattern="[0-9]{7,10}">
        <mat-hint align="end" >{{paciente.tel_fijo.length}} / 10</mat-hint>
        <mat-error *ngIf="telefono_fc.hasError('required') || telefono_fc.value?.length < 7">
          Ingrese un número telefónico válido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Celular</mat-label>
        <input matInput [(ngModel)]="paciente.tel_cel" required name="tel_cel"
        [errorStateMatcher]="matcher" maxlength="10" pattern="[0-9]{7,10}" >
        <mat-hint align="end" >{{paciente.tel_cel.length}} / 10</mat-hint>
        <mat-error *ngIf="celular_fc.hasError('required') || celular_fc.value?.length < 10">
          Ingrese un número telefónico válido
      </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Teléfono adicional</mat-label>
        <input matInput [(ngModel)]="paciente.tel_alter" name="alter"
        [errorStateMatcher]="matcher" maxlength="10" pattern="[0-9]{7,10}">
        <mat-hint align="end" >{{paciente.tel_alter.length}} / 10</mat-hint>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<!-- ******* INFORMACIÓN MÉDICA ******* -->
<mat-card class="medic-card">
    <mat-card-header>
      <mat-card-subtitle>Información médica</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" style="width: 150px" >
          <mat-label>Grupo sanguineo</mat-label>
          <input matInput [(ngModel)]="paciente.tipo_sangre" name="sangre">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Alergias</mat-label>
          <textarea matInput [(ngModel)]="paciente.alergias" name="alergias"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Enfermedades crónicas</mat-label>
          <textarea matInput [(ngModel)]="paciente.cronicas" name="cronicas"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Anotaciones</mat-label>
          <textarea matInput [(ngModel)]="paciente.anotacion" name="anotacion"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
</mat-card>

<!--  ******* FACTURACION ******-->
<form #facturaForm="ngForm">
<mat-expansion-panel (opened)="paciente.datos_fact = 0" (closed)="paciente.datos_fact = 1" class="medic-card">
  <mat-expansion-panel-header>
    <mat-slide-toggle [checked]="paciente.datos_fact === 1" disabled style="opacity: 1;">
      Utilizar datos del paciente como datos de facturación
    </mat-slide-toggle>
  </mat-expansion-panel-header>
  <div class="space">
    <label class="row-item" >Persona:</label>
    <mat-radio-group aria-label="Razon" [(ngModel)]="paciente.fact_persona" required name="fac_raz">
      <mat-radio-button value="1" class="row-item" [checked]="paciente.fact_persona === '1'"  >Física</mat-radio-button>
      <mat-radio-button value="2" class="row-item">Moral</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field appearance="outline" style="width: 300px">
      <mat-label>Razón social</mat-label>
      <input matInput [(ngModel)]="paciente.fact_razonsoc" name="fac_razon" required 
      [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>RFC</mat-label>
        <input matInput [(ngModel)]="paciente.fact_rfc" name="rfc" required
        [errorStateMatcher]="matcher" pattern="[A-Z]{4}[0-9]{6}[A-Z0-9]{2,3}">
        <mat-hint *ngIf="paciente.fact_persona === '1'" align="end" >{{paciente.tel_fijo.length}} / 13</mat-hint>
        <mat-hint *ngIf="paciente.fact_persona === '2'" align="end" >{{paciente.tel_fijo.length}} / 12</mat-hint>
    </mat-form-field>
    
    <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Calle</mat-label>
          <input matInput [(ngModel)]="paciente.fact_calle" name="fac_calle">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. exterior</mat-label>
          <input matInput [(ngModel)]="paciente.fact_ext" name="fac_ext">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100px">
          <mat-label>No. interior</mat-label>
          <input matInput [(ngModel)]="paciente.fact_int" name="fac_int" >
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Localidad</mat-label>
          <input matInput [(ngModel)]="paciente.fact_colonia" name="fac_colonia">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 200px">
          <mat-label>Código postal</mat-label>
          <input matInput [(ngModel)]="paciente.fact_cp" name="fac_cp" required 
          [errorStateMatcher]="matcher" maxlength="5">
          <mat-hint align="end" >{{paciente.fact_cp.length}} / 5</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Estado</mat-label>
          <mat-select [(value)]="paciente.fact_idedo" #fact_entidad (selectionChange)='getFactMunicipios(fact_entidad.value)'>
            <mat-option *ngFor="let estado of Estados" [value]="estado.id_estado">
              {{estado.nombre_estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Municipio</mat-label>
          <mat-select [(value)]="paciente.fact_idmun">
            <mat-option *ngFor="let mun of Fact_municipios" [value]="mun.id_municipio">
              {{mun.nombre_municipio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 400px">
          <mat-label>Correo electrónico</mat-label>
          <input matInput [(ngModel)]="paciente.fact_email" name="fac_email" required
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="fact_email.hasError('email') && fact_email.hasError('required')">
            Ingrese una dirección de correo válida
          </mat-error>
        </mat-form-field>
      </div>
</mat-expansion-panel>
</form>

<!--  ******* OPCIONES ******-->
<mat-card class="medic-card">
    <mat-card-content>
      <div style="text-align: right;">
          <button mat-button routerLink="/pacientes">Cancelar</button>
          <button mat-button color="primary" [disabled]="!pacienteForm.form.valid" (click)="onSubmit()" >Guardar</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>